body {
  background: skyblue;
  box-shadow: transparent;
  box-decoration-break: ;
}
.box {
  box-sizing: border-box;
  width: 500px;
  height: 300px;
  border: 1px solid darkred;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: blueviolet;
  box-shadow: 0px 0px 70px 9x rgba(0, 0, 0, 0.5);
}
.box:hover {
  background-color: #ebebdd;
}
#ck {
  padding: 10px;
  border-color: #960566;
  background-color: #f5f2f4;
  border-radius: 10px;
  position: fixed;
  left: 7%;
  font-size: 15px;
  font-family: sans-serif;
}
#ck:hover {
  background-color: ghostwhite;
  border: 2px solid black;
}
#uk {
  padding: 10px;
  border-color: #960566;
  background-color: #f5f2f4;
  border-radius: 10px;
  position: fixed;
  left: 20%;
  font-size: 15px;
  font-family: sans-serif;
}
#uk:hover {
  background-color: #ebebdd;
  border: 1px solid black;
}
#ck:hover {
  background-color: #ebebdd;
  border: 1px solid black;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-top: 10px;
}
div {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 10s;
}

@keyframes example {
  0% {
    background-color: red;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: green;
  }
}
